apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: callflowd-data-pvc
  namespace: callflowd
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: callflowd-db-pvc
  namespace: callflowd
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
